# Flutter/Dart-specific
.dart_tool/
.packages
build/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
flutter_export_environment.sh

# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
web/firebase-config.js

# Secrets
*.jks
*.keystore
*.pem
*.p12
*.key
.env
.env.*

# IDEs
.idea/
.vscode/
*.iml

# macOS & Windows
macos/Flutter/ephemeral/
windows/flutter/ephemeral/

# iOS
ios/Pods/
Podfile.lock
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/

# Xcode
**/dgph
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
Icon?
profile
xcuserdata
**/.symlinks/
**/.generated/

# Flutter iOS Project
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*

# Exceptions (if needed)
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
